/*
	Theme Name: CanaBlue
	Theme URI: http://Canablue.com
	Description: CanaBlue Wordpress Theme
	Version: 1.0
	Author: Jean Fondeur
	Author URI: https://jeanfondeur.com
	Tags: Blank, HTML5, CSS3, SCSS, BOOTSTRAP

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
@import url("bootstrap/bootstrap.css");
html,
body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.blue {
  color: #1b4073 !important;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background: #16355e;
  border-color: #16355e;
  color: white !important;
}

.badge-primary {
  background: #1b4073;
  font-weight: normal;
}

.optin {
  padding: 50px 0;
  background: #1b4073;
}
.optin h5 {
  color: white;
}
.optin p {
  color: white;
}
.optin form {
  padding-top: 20px;
}
.optin form input.form-control, .optin form .contactForm #gform_wrapper_1 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .optin form .contactFormMobile #gform_wrapper_1 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .contactForm #gform_wrapper_1 .optin form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .contactFormMobile #gform_wrapper_1 .optin form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.optin form .contactForm #gform_wrapper_2 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.optin form .contactFormMobile #gform_wrapper_2 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactForm #gform_wrapper_2 .optin form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactFormMobile #gform_wrapper_2 .optin form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.optin form .contactForm #gform_wrapper_3 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.optin form .contactFormMobile #gform_wrapper_3 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactForm #gform_wrapper_3 .optin form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactFormMobile #gform_wrapper_3 .optin form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.optin form .contactForm #gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.optin form .contactFormMobile #gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactForm #gform_wrapper_4 .optin form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactFormMobile #gform_wrapper_4 .optin form input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  border-radius: 0 !important;
  margin-right: 0 !important;
}

.grid div[class^=col] {
  position: relative;
}
.grid div[class^=col] a > div {
  background: #1b4073;
  background-size: cover !important;
  padding: 90px 0;
  color: white;
}
.grid div[class^=col] a > div hr {
  border-color: white;
  width: 70%;
}

.grid .buy {
  background: url("img/buy.jpg") !important;
}
.grid .sell {
  background: url("img/sell.jpg") !important;
}
.grid .rentals {
  background: url("img/rentals.jpg") !important;
}
.grid .legal {
  background: url("img/legal.jpg") !important;
}
.grid .renovations {
  background: url("img/renovations.jpg") !important;
}

.team-hero {
  background: url("img/canablue-team-v2.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 30vh;
}
.team-hero h2 {
  color: white;
  text-shadow: -1px 0px 2px black;
}
.team-hero p {
  color: white;
  text-shadow: -1px 0px 2px black;
}
@media (min-width: 992px) {
  .team-hero {
    min-height: 85vh;
  }
}
.team-hero > div {
  padding-bottom: 12px;
}
@media (min-width: 992px) {
  .team-hero > div {
    padding-bottom: 50px;
  }
}

.aboutPamela {
  padding: 50px 0;
  background: url("img/whirlpool.png");
  color: #1b4073;
}
@media (min-width: 992px) {
  .aboutPamela {
    padding: 100px 0;
  }
}
.aboutPamela .container .row {
  padding: 40px 0;
}
@media (min-width: 992px) {
  .aboutPamela .container .row {
    padding: 80px 0;
  }
}

.property-cards-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .property-cards-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.card {
  margin-bottom: 30px;
  position: relative;
}
.card h5 {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card a {
  color: #1b4073;
}

.cardP {
  margin-bottom: 30px;
  position: relative;
}
.cardP h5 {
  position: absolute;
  top: 10px;
  left: 10px;
}
.cardP a {
  color: #1b4073;
}

/* fluid 4 columns */
.grid-item {
  width: 22%;
}

/* fluid 4% gutter */
.gutter-sizer {
  width: 4%;
}

.grid-item--width2 {
  width: 100%;
}
@media (min-width: 768px) {
  .grid-item--width2 {
    width: 48%;
  }
}
@media (min-width: 992px) {
  .grid-item--width2 {
    width: 24%;
  }
}

.sticky-top {
  background: white;
}
@media (max-width: 767px) {
  .sticky-top {
    position: initial;
  }
}
.sticky-top .language-bar {
  display: flex;
  background: #1b4073;
  justify-content: center;
  align-items: center;
}
.sticky-top .language-bar p {
  color: white;
  font-size: 12px;
  margin: 0 10px 0;
  padding: 4px 0;
}
@media (min-width: 992px) {
  .sticky-top .language-bar p {
    font-size: 14px;
  }
}

.topHeaderContainer {
  position: relative;
}
.topHeaderContainer .topHeader {
  padding: 0;
  background: white;
  text-align: center;
}
@media (min-width: 992px) {
  .topHeaderContainer .topHeader {
    position: absolute;
    z-index: 1;
    right: 7px;
    right: 0;
    margin-bottom: 0;
    text-align: right;
  }
}
.topHeaderContainer .topHeader ul {
  margin-bottom: 0;
}
.topHeaderContainer .topHeader ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #1b4073;
}
.topHeaderContainer .topHeader ul li a {
  color: inherit;
}

.navbar {
  line-height: 0;
  padding: 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  padding-top: 13px;
}
@media (max-width: 767px) {
  .navbar .container {
    position: relative;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    padding: 0;
  }
}
.navbar .navbar-brand {
  padding-bottom: 14px;
}
@media (max-width: 767px) {
  .navbar .navbar-brand {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-brand img {
    max-width: 150px;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-toggler {
    position: absolute;
    top: 10px;
  }
}
@media (min-width: 992px) {
  .navbar {
    background: white;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding-top: 0;
  }
}

.navbar-toggler {
  border: 0;
}

@media (min-width: 992px) {
  #menu-main {
    align-items: center;
    width: 95%;
    justify-content: space-between;
  }
}
#menu-main li a {
  font-size: 14px;
  color: #1b4073;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 0;
  padding-right: 0;
}
#menu-main li a:after {
  display: none;
}
@media (max-width: 767px) {
  #menu-main li a {
    padding: 20px 10px;
  }
}
#menu-main li .dropdown-menu a {
  padding: 20px;
  font-size: 13px;
}
#menu-main li .dropdown-menu .dropdown-item.active,
#menu-main li .dropdown-menu .dropdown-item:active {
  font-size: 14px;
  color: #1b4073;
  background: #f8f9fa;
}

.footer {
  background: #1b4073;
  padding: 50px 0;
}
.footer * {
  color: white;
}
.footer img {
  margin-bottom: 25px;
  width: 15%;
}
@media (min-width: 992px) {
  .footer img {
    width: 30%;
  }
}
.footer h5 {
  border-bottom: 0.2px solid white;
  padding-bottom: 10px;
  display: inline-block;
}
.footer ul li {
  line-height: 2.2;
}
.footer ul li a {
  font-weight: 300;
}

.heroHome, .unitHero {
  background: url("img/heroHome.jpg");
  background-size: cover;
  position: relative;
  padding: 250px 0;
}
.heroHome img, .unitHero img {
  position: absolute;
  bottom: 30px;
  margin: auto;
  top: initial;
  left: 0;
  right: 0;
  width: 20px;
}
.heroHome h1, .unitHero h1 {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  text-shadow: -1px 0px 2px rgb(150, 150, 150);
}

.homeSection, .buySection {
  padding: 100px 0;
  color: #1b4073;
}

#carouselExampleControls .carousel-item .carousel-caption {
  text-align: left;
}
#carouselExampleControls .carousel-item .carousel-caption h2 {
  font-weight: bold;
  text-shadow: -1px 0px 2px black;
}
@media (min-width: 992px) {
  #carouselExampleControls .carousel-item .carousel-caption h2 {
    font-size: 45px;
  }
}

.buySection {
  padding-bottom: 50px;
}

.buyListing {
  padding-top: 0;
}

.contactMobileButton {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2000;
  padding: 20px;
}
@media (min-width: 992px) {
  .contactMobileButton {
    display: none;
  }
}

.unitHero {
  background: url("img/unit.jpg");
  background-size: cover;
}
.unitHero .opacityBg {
  background: rgba(255, 255, 255, 0.8);
  color: #1b4073;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.unitHero .opacityBg a {
  color: #1b4073;
}
.unitHero .opacityBg p {
  margin-bottom: 5px;
}
.unitHero .container .col-4 {
  position: relative;
}

@media (min-width: 992px) {
  .contactForm, .contactFormMobile {
    position: -webkit-sticky;
    position: sticky;
    top: 111px;
  }
}
.contactForm .listing-form-header, .contactFormMobile .listing-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactForm .listing-form-header .listing-form-agent-picture, .contactFormMobile .listing-form-header .listing-form-agent-picture {
  width: 25%;
}
@media (min-width: 992px) {
  .contactForm .listing-form-header .listing-form-agent-picture, .contactFormMobile .listing-form-header .listing-form-agent-picture {
    width: 30%;
  }
}
.contactForm .listing-form-header .listing-form-agent-picture img, .contactFormMobile .listing-form-header .listing-form-agent-picture img {
  height: 100%;
  width: 100%;
}
.contactForm .listing-form-header .listing-form-agent-details, .contactFormMobile .listing-form-header .listing-form-agent-details {
  width: 73%;
}
@media (min-width: 992px) {
  .contactForm .listing-form-header .listing-form-agent-details, .contactFormMobile .listing-form-header .listing-form-agent-details {
    width: 55%;
  }
}
.contactForm p, .contactFormMobile p {
  margin-bottom: 0;
  font-size: 14px;
}
.contactForm a, .contactFormMobile a {
  color: #1b4073;
  font-size: 14px;
}
.contactForm #gform_wrapper_1, .contactFormMobile #gform_wrapper_1,
.contactForm #gform_wrapper_2,
.contactFormMobile #gform_wrapper_2,
.contactForm #gform_wrapper_3,
.contactFormMobile #gform_wrapper_3,
.contactForm #gform_wrapper_4,
.contactFormMobile #gform_wrapper_4 {
  margin-bottom: 0;
}
.contactForm #gform_wrapper_1 ul > li, .contactFormMobile #gform_wrapper_1 ul > li,
.contactForm #gform_wrapper_2 ul > li,
.contactFormMobile #gform_wrapper_2 ul > li,
.contactForm #gform_wrapper_3 ul > li,
.contactFormMobile #gform_wrapper_3 ul > li,
.contactForm #gform_wrapper_4 ul > li,
.contactFormMobile #gform_wrapper_4 ul > li {
  padding-right: 0;
}
.contactForm #gform_wrapper_1 label, .contactFormMobile #gform_wrapper_1 label,
.contactForm #gform_wrapper_2 label,
.contactFormMobile #gform_wrapper_2 label,
.contactForm #gform_wrapper_3 label,
.contactFormMobile #gform_wrapper_3 label,
.contactForm #gform_wrapper_4 label,
.contactFormMobile #gform_wrapper_4 label {
  display: none;
}
.contactForm #gform_wrapper_1 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .contactFormMobile #gform_wrapper_1 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactForm #gform_wrapper_2 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactFormMobile #gform_wrapper_2 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactForm #gform_wrapper_3 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactFormMobile #gform_wrapper_3 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactForm #gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.contactFormMobile #gform_wrapper_4 input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  font-size: 14px;
  width: 100%;
  padding: 12px;
}
.contactForm #gform_wrapper_1 textarea, .contactFormMobile #gform_wrapper_1 textarea,
.contactForm #gform_wrapper_2 textarea,
.contactFormMobile #gform_wrapper_2 textarea,
.contactForm #gform_wrapper_3 textarea,
.contactFormMobile #gform_wrapper_3 textarea,
.contactForm #gform_wrapper_4 textarea,
.contactFormMobile #gform_wrapper_4 textarea {
  font-size: 14px;
}
.contactForm #gform_wrapper_1 .gform_button, .contactFormMobile #gform_wrapper_1 .gform_button,
.contactForm #gform_wrapper_2 .gform_button,
.contactFormMobile #gform_wrapper_2 .gform_button,
.contactForm #gform_wrapper_3 .gform_button,
.contactFormMobile #gform_wrapper_3 .gform_button,
.contactForm #gform_wrapper_4 .gform_button,
.contactFormMobile #gform_wrapper_4 .gform_button {
  width: 100%;
}

.contactFormMobile {
  position: initial;
  display: none;
}
@media (max-width: 768px) {
  .contactFormMobile {
    display: block;
  }
}

@media (min-width: 992px) {
  .unitDetails {
    padding: 50px 0;
  }
}
.unitDetails .property-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 111px;
}
@media (max-width: 767px) {
  .unitDetails .property-nav {
    display: none;
  }
}
.unitDetails .property-nav h5 {
  border-bottom: 1px solid #1b4073;
  padding-bottom: 9px;
}
.unitDetails .property-nav li a {
  padding-left: 0;
}
.unitDetails .saleBenefits .taxes {
  font-weight: bold;
}
@media (max-width: 767px) {
  .unitDetails .mainInfo table {
    font-size: 13px;
  }
}
.unitDetails .item img {
  height: auto;
}

.unitMap {
  color: #1b4073;
}
.unitMap .map {
  height: 500px;
  background: #081220;
}

.unitAgent .listing-form-header .listing-form-agent-picture {
  display: none;
}
@media (min-width: 992px) {
  .unitAgent .listing-form-header .listing-form-agent-picture {
    width: 25%;
  }
}
.unitAgent .listing-form-header .listing-form-agent-picture img {
  height: 100%;
  width: 100%;
}
@media (min-width: 992px) {
  .unitAgent .listing-form-header .listing-form-agent-details {
    width: 55%;
  }
}
.unitAgent .listing-form-header .listing-form-agent-details p {
  display: none;
}
.unitAgent .listing-form-header .listing-form-agent-details a {
  display: none;
}

@media (min-width: 992px) {
  .unitCommunity .row:nth-child(2) {
    align-items: center;
  }
}
.unitCommunity #videoModal .modal-dialog {
  max-width: 900px;
}
.unitCommunity .unitCommunityVideoContainer {
  position: relative;
}
.unitCommunity .unitCommunityVideoContainer .unitCommunityVideo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 70px;
  width: 70px;
  color: white;
}

.listing-top-bar {
  background-color: whitesmoke;
  margin-bottom: 50px;
  padding: 30px 0;
}
@media (min-width: 992px) {
  .listing-top-bar .listing-info-container {
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .listing-top-bar .listing-info-container {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .listing-top-bar .listing-info-container .listing-title {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .listing-top-bar .listing-info-container .listing-title {
    width: 20%;
  }
}
.listing-top-bar .listing-info-container .listing-title h1 {
  font-size: 1.5rem;
  color: #1b4073;
}
.listing-top-bar .listing-info-container .listing-title .listing-location {
  color: #1b4073;
}
.listing-top-bar .listing-info-container .listing-title .listing-location a {
  color: inherit;
}
@media (min-width: 992px) {
  .listing-top-bar .listing-info-container .listing-details {
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .listing-top-bar .listing-info-container .listing-details {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .listing-top-bar .listing-info-container .listing-details {
    width: 50%;
  }
}
.listing-top-bar .listing-info-container .listing-details span {
  display: block;
}
.listing-top-bar .listing-info-container .listing-details .listing-specs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .listing-top-bar .listing-info-container .listing-details .listing-specs {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .listing-top-bar .listing-info-container .listing-details .listing-specs {
    width: 70%;
  }
}
.listing-top-bar .listing-info-container .listing-details .listing-specs > div span {
  display: block;
}
@media (min-width: 992px) {
  .listing-top-bar .listing-info-container .listing-tags {
    width: 20%;
    text-align: right;
  }
}
.listing-top-bar .listing-info-container .listing-tags a {
  background-color: #1b4073;
  font-weight: normal;
  font-size: 12px;
}

.listing-hero img.listing-image {
  margin-bottom: 20px;
}

.unit-carousel .carousel-indicators {
  margin: 1px 0 0;
  width: 100%;
  justify-content: space-around;
  position: initial;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.unit-carousel .carousel-indicators::-webkit-scrollbar {
  display: none;
}
.unit-carousel .carousel-indicators li {
  width: initial;
  height: initial;
  margin: 0;
}
@media (min-width: 768px) {
  .unit-carousel .carousel-indicators li {
    min-width: 90px;
    justify-content: initial;
  }
}

body.tax-location .locationHeading {
  text-transform: capitalize;
  color: #1b4073;
  padding: 50px 0;
}

.heroSell {
  padding: 0;
  height: 550px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.heroSell h1 {
  text-align: center;
  line-height: 1;
  text-shadow: -1px 0px 2px black;
}
@media (max-width: 767px) {
  .heroSell h1 {
    font-size: 40px;
  }
}
.heroSell h1 span {
  font-size: 40px;
}
.heroSell p {
  color: white;
  text-align: center;
  text-shadow: -1px 0px 2px black;
}
.heroSell video {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
}
@media (max-width: 768px) {
  .heroSell video {
    display: none;
  }
}

.localExpert {
  padding-top: 100px;
  padding-bottom: 100px;
}
.localExpert h2,
.localExpert p {
  text-align: center;
}
.localExpert .ownersForm {
  text-align: center;
}
.localExpert .ownersForm #gform_wrapper_3 #gform_submit_button_3 {
  width: 50%;
  margin: auto;
  display: block;
}
.localExpert .ownersForm #gform_wrapper_3 label {
  display: none;
}
.localExpert .ownersForm #gform_wrapper_3 .gfield {
  display: inline-block;
  width: 50%;
}
.localExpert .ownersForm #gform_wrapper_3 .gfield div.ginput_container {
  width: 100%;
}
.localExpert .ownersForm #gform_wrapper_3 .gfield div.ginput_container input,
.localExpert .ownersForm #gform_wrapper_3 .gfield div.ginput_container select {
  width: 100%;
}

#contactModal .modal-title {
  color: #1b4073;
}
#contactModal .contactForm, #contactModal .contactFormMobile {
  position: initial;
  box-shadow: none;
  display: block;
  padding-bottom: 0;
}
#contactModal .model-body {
  padding-bottom: 0;
}
#contactModal .mfooter {
  padding: 0 20px 20px 20px;
  display: block;
}
#contactModal .mfooter h5,
#contactModal .mfooter p,
#contactModal .mfooter a {
  color: #1b4073 !important;
  display: block;
  width: 100%;
  font-size: 14px;
  margin-bottom: 0;
}
#contactModal .mfooter h5 i,
#contactModal .mfooter p i,
#contactModal .mfooter a i {
  color: #1b4073;
}

/*Custom include to sass*/
@media (min-width: 922px) and (max-width: 1200px) {
  .navbar .navbar-brand {
    width: 130px;
  }
}
.aboutPamela img.size-square {
  width: 80%;
  margin: auto;
  display: block;
  height: auto;
  border-radius: 100%;
}
.aboutPamela .members-lang-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.aboutPamela .members-lang-container img {
  margin: 0 2px;
}

/*======================
	2020
=======================*/
.wh-free a.wh-widget-send-button-get-button {
  display: none !important;
}

body.single-community .community-hero {
  margin-bottom: 0;
}
body.single-community .community-hero #videoModal .modal-dialog {
  max-width: 900px;
}
body.single-community .community-hero .community-video-container {
  position: relative;
}
body.single-community .community-hero .community-video-container .unitCommunityVideo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 70px;
  width: 70px;
  color: white;
}
body.single-community .community-details .key-features {
  display: flex;
  margin-bottom: 20px;
}
body.single-community .community-details .key-features .key-number {
  font-size: 30px;
  margin-right: 15px;
  color: #1b4073;
}
body.single-community .community-details .key-features .key-detail .key-title {
  color: #1b4073;
}
body.single-community .community-content {
  padding: 100px 0;
}
body.single-community .community-content .the-community {
  margin-bottom: 70px;
}
@media (min-width: 992px) {
  body.single-community .community-content .the-community {
    display: flex;
    justify-content: space-between;
  }
}
body.single-community .community-content .community-grid {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 48% auto 48%;
  grid-template-rows: 200px 17px 200px 17px 200px 17px 200px;
}
@media (min-width: 992px) {
  body.single-community .community-content .community-grid {
    grid-template-columns: 48% auto 48%;
    grid-template-rows: 300px 40px 300px 40px 300px 40px 300px;
  }
}
body.single-community .community-content .community-grid div:first-child {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}
body.single-community .community-content .community-grid div:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
body.single-community .community-content .community-grid div:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
body.single-community .community-content .community-grid div:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 5;
  grid-row-end: 6;
}
body.single-community .community-content .community-grid div:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 7;
  grid-row-end: 8;
}
body.single-community .community-content .community-grid div:last-child {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 8;
}
body.single-community .community-content .community-overview {
  margin-bottom: 70px;
}
body.single-community .community-content .community-overview_images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
body.single-community .community-content .community-overview_images div.main-img {
  width: 100%;
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  body.single-community .community-content .community-overview_images div.main-img {
    margin-bottom: 50px;
  }
}
body.single-community .community-content .community-overview_images div.main-img img {
  width: 100%;
}
body.single-community .community-content .community-overview_images div {
  width: 48%;
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  body.single-community .community-content .community-overview_images div {
    margin-bottom: 50px;
  }
}
body.single-community .community-content .community-location {
  margin-bottom: 100px;
}
body.single-community .community-content .community-location .community-map {
  margin-top: 80px;
}
body.single-community .community-content .community-location .community-overview_images {
  margin-top: 80px;
}
body.single-community .community-content .community-properties .property-cards-container {
  margin: 100px 0 0;
}

@media (min-width: 992px) {
  .community-items .grid-item--width2 {
    width: 48%;
  }
}

.community-items-card {
  padding: 100px 0;
}
@media (min-width: 992px) {
  .community-items-card .property-cards-container {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .community-items-card .grid-item--width2 {
    width: 48%;
  }
  .community-items-card .grid-item--width2:nth-child(even) {
    margin-left: 1%;
  }
  .community-items-card .grid-item--width2:nth-child(odd) {
    margin-right: 1%;
  }
}
.community-items-card .grid-item--width3 {
  width: 100%;
}
@media (min-width: 992px) {
  .community-items-card .grid-item--width3 {
    width: 32%;
  }
  .community-items-card .grid-item--width3:not(:last-child) {
    margin-right: 1%;
  }
}
.community-items-card .grid-item .card-img-top-container a {
  position: relative;
  display: block;
}
.community-items-card .grid-item .card-img-top-container a span {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: none;
  transition: all 0.3s;
}
.community-items-card .grid-item .card-img-top-container a span:hover {
  background: #1b4073;
}

body.page-template-page-community .community-items-card {
  padding-top: 0 !important;
}

@media (min-width: 992px) {
  body.page-template-page-home-v2-php .heroSell {
    height: 70vh;
  }
}
body.page-template-page-home-v2-php .homePropertieCards {
  margin-top: 50px;
}
body.page-template-page-home-v2-php .homePropertieCards .homePropertieCard {
  padding: 35px;
}
body.page-template-page-home-v2-php .homePropertieCards .homePropertieCard > div {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding-bottom: 20px;
  padding-bottom: 20px;
}
body.page-template-page-home-v2-php .homePropertieCards .homePropertieCard > div img {
  width: 60%;
  margin: auto;
  display: block;
}
body.page-template-page-home-v2-php .testimonials {
  padding: 100px 0;
}
body.page-template-page-home-v2-php .discoverHow {
  background: whitesmoke;
}

body.page-template-page-contact .contact-heading {
  margin-top: 20px;
}
@media (min-width: 992px) {
  body.page-template-page-contact .contact-heading {
    margin-top: 50px;
  }
}
body.page-template-page-contact section.contact-form {
  margin-top: 50px;
}
body.page-template-page-contact section.contact-form .contact-form .gform_wrapper {
  margin: 0;
}
body.page-template-page-contact section.contact-form .contact-form .gform_wrapper .gform_fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body.page-template-page-contact section.contact-form .contact-form .gform_wrapper .gform_fields .gfield {
  width: 48%;
  padding: 0;
}
body.page-template-page-contact section.contact-form .contact-form .gform_wrapper .gform_fields .gfield > div input {
  width: 100%;
}
body.page-template-page-contact section.contact-form .contact-form .gform_wrapper .gform_fields #field_4_4 {
  width: 100%;
}
body.page-template-page-contact section.contact-form .contact-address, body.page-template-page-contact section.contact-form .contact-hours {
  padding-left: 20px;
}
body.page-template-page-contact .contact-map .acf-map {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  body.single .property-cards-container {
    justify-content: start;
  }
}
@media (min-width: 992px) {
  body.single .property-cards-container .grid-item--width2:not(:last-child) {
    margin-right: 1%;
  }
}