body.single-community {
  .community-hero {
    margin-bottom: 0;
    .community-intro {
      // @include breakpoint(md){
      //     display: flex;
      //     flex-direction: column;
      //     justify-content: space-between;
      // }
    }
    #videoModal {
      .modal-dialog {
        max-width: 900px;
      }
    }
    .community-video-container {
      position: relative;
      .unitCommunityVideo {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 70px;
        width: 70px;
        color: white;
      }
    }
  }

  .community-details {
    .key-features {
      display: flex;
      margin-bottom: 20px;
      .key-number {
        font-size: 30px;
        margin-right: 15px;
        color: $blue;
      }
      .key-detail {
        .key-title {
          color: $blue;
        }
      }
    }
  }

  .community-content {
    padding: 100px 0;
    .the-community {
      margin-bottom: 70px;
      @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
      }
    }
    .community-grid {
      margin-bottom: 100px;
      display: grid;
      grid-template-columns: 48% auto 48%;
      grid-template-rows: 200px 17px 200px 17px 200px 17px 200px;
      @include breakpoint(md) {
        grid-template-columns: 48% auto 48%;
        grid-template-rows: 300px 40px 300px 40px 300px 40px 300px;
      }
      div {
        &:first-child {
          grid-column-start: 1;
          grid-column-end: 1;
          grid-row-start: 1;
          grid-row-end: 4;
        }
        &:nth-child(2) {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 1;
        }

        &:nth-child(3) {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 3;
          grid-row-end: 4;
        }

        &:nth-child(4) {
          grid-column-start: 1;
          grid-column-end: 1;
          grid-row-start: 5;
          grid-row-end: 6;
        }
        &:nth-child(5) {
          grid-column-start: 1;
          grid-column-end: 1;
          grid-row-start: 7;
          grid-row-end: 8;
        }
        &:last-child {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 5;
          grid-row-end: 8;
        }
      }
    }
    .community-overview {
      margin-bottom: 70px;
    }
    .community-overview_images {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 100px;
      flex-wrap: wrap;
      div.main-img {
        width: 100%;
        margin-bottom: 25px;
        @include breakpoint(md) {
          margin-bottom: 50px;
        }
        img {
          width: 100%;
        }
      }
      div {
        width: 48%;
        margin-bottom: 25px;
        @include breakpoint(md) {
          margin-bottom: 50px;
        }
      }
    }
    .community-location {
      .community-map {
        margin-top: 80px;
      }
      margin-bottom: 100px;
      .community-overview_images {
        margin-top: 80px;
      }
    }
    .community-properties {
      .property-cards-container {
        margin: 100px 0 0;
      }
    }
  }
}

.community-items {
  .grid-item--width2 {
    @include breakpoint(md) {
      width: 48%;
    }
  }
}

.community-items-card {
  padding: 100px 0;

  //cards container
  .property-cards-container {
    @include breakpoint(md) {
      justify-content: center;
    }
  }

  .grid-item--width2 {
    @include breakpoint(md) {
      width: 48%;
      &:nth-child(even) {
        margin-left: 1%;
      }
      &:nth-child(odd) {
        margin-right: 1%;
      }
    }
  }
  .grid-item--width3 {
    width: 100%;
    @include breakpoint(md) {
      width: 32%;
      &:not(:last-child) {
        margin-right: 1%;
      }
    }
  }
  .grid-item {
    .card-img-top-container {
      a {
        position: relative;
        display: block;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: normal;
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          color: white;
          font-size: 20px;
          font-weight: bold;
          background: none;
          transition: all 0.3s;
          &:hover {
            background: $blue;
          }
        }
      }
    }
  }
}

body.page-template-page-community {
  .community-items-card {
    padding-top: 0 !important;
  }
}
