.footer{
	background:$blue;
	padding: 50px 0;
	*{
		color: white;
	}
	img{
        margin-bottom: 25px;
        width:15%;
        @include breakpoint(md){
            width: 30%;
        }
	}

	h5{
		border-bottom:0.2px solid white;
		padding-bottom:10px;
		display: inline-block;

	}

	ul{
		li{
			line-height: 2.2;
			a{
				font-weight: 300;
			}
		}
	}
}
