//header
.sticky-top {
  background: white;
  @include breakpoint(xs) {
    position: initial;
  }
  .language-bar {
    display: flex;
    background: #1b4073;
    justify-content: center;
    align-items: center;
    p {
      color: white;
      font-size: 12px;
      margin: 0 10px 0;
      padding: 4px 0;
      @include breakpoint(md) {
        font-size: 14px;
      }
    }
  }
}
.topHeaderContainer {
  position: relative;
  .topHeader {
    padding: 0;
    background: white;
    text-align: center;
    @include breakpoint(md) {
      position: absolute;
      z-index: 1;
      right: 7px;
      right: 0;
      margin-bottom: 0;
      text-align: right;
    }
    ul {
      margin-bottom: 0;
      li {
        font-family: $headingText;
        font-size: 12px;
        color: $blue;
        a {
          color: inherit;
        }
      }
    }
  }
}

.navbar {
  .container {
    @include breakpoint(xs) {
      position: relative;
    }
    @include breakpoint(md) {
      padding: 0;
    }
  }
  line-height: 0;
  padding: 0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  padding-top: 13px;
  .navbar-brand {
    padding-bottom: 14px;
    @include breakpoint(xs) {
      margin: auto;
    }
    img {
      @include breakpoint(xs) {
        max-width: 150px;
      }
    }
  }
  .navbar-toggler {
    @include breakpoint(xs) {
      position: absolute;
      top: 10px;
    }
  }
  @include breakpoint(md) {
    background: white;
  }
  @include breakpoint(m) {
    padding-left: 10px;
    padding-right: 10px;
  }
  @include breakpoint(xs) {
    padding-top: 0;
  }
}

.navbar-toggler {
  border: 0;
}

#menu-main {
  @include breakpoint(md){
    align-items: center;
    width: 95%;
    justify-content: space-between;
  }
  li {
    a {
      font-size: 14px;
      color: $blue;
      width: fit-content;
      padding-left:0;
      padding-right: 0;
      &:after {
        display: none;
      }
      @include breakpoint(xs) {
        padding: 20px 10px;
      }
    }
    .dropdown-menu {
      a {
        padding: 20px;
        font-size: 13px;
      }
      .dropdown-item.active,
      .dropdown-item:active {
        font-size: 14px;
        color: $blue;
        background: #f8f9fa;
      }
    }
  }
}
