body.page-template-page-home-v2-php{
    .heroSell{
        @include breakpoint(md){
            height: 70vh;
        }
    }
    .homePropertieCards{
        margin-top: 50px;
        .homePropertieCard{
            padding: 35px;
            > div {
                border:1px solid rgba(0, 0, 0, 0.125);
                border-radius: 0.25rem;
                padding-bottom:20px;
                padding-bottom:20px;
                img{
                    width: 60%;
                    margin:auto;
                    display: block;
                }
            }   
        }
    }

    .testimonials{
        padding:100px 0;
    }

    .discoverHow{
        background:whitesmoke;
    }
}